.Newsbox {

    display: flex;
    justify-content: space-evenly;
    margin: auto;
}

.StorySelect {

    margin-block:  2%;
    margin-left: 3%;

}

.LikesAndDislikes {

    margin: auto;
    
}

body {

    background-color: rgb(217, 217, 217);
}



a {

    font-size: x-large;

}

.LikeButton {

    color: none

}


.LikeButton:hover {

    transition-delay: 2ms;
    background-color: rgb(68, 194, 68);
}

.DislikeButton {

    color: none

}


.DislikeButton:hover {

    transition-delay: 2ms;
    background-color: rgb(173, 89, 89);
}